<!doctype html>
<title>{% block title %}Welcome{% endblock %} | Cloud Accountant</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>CloudAcct</h1>
  <div class="navigation">
  {% if g.user %}
    <a href="{{ url_for('view') }}">my view</a> |
    <a href="{{ url_for('public_view') }}">public view</a> |
    <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="{{ url_for('public_view') }}">public view</a> |
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a> |
    <a href="{{ url_for('forget_passwd') }}">forget password</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  <div class="footer">
    CloudAcct, Powered by Anyware.
  </div>
</div>
