<!doctype html>
<title>{% block title %}Welcome{% endblock %} | Cloud Accountant</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1 class="band">CloudAcct</h1>
  <div class="navigation">
    {% if g.user %}
      <a class="navigation-link" href="{{ url_for('.show_user', username=g.user['username']) }}">my view</a> |
      <a class="navigation-link" href="{{ url_for('.index') }}">public view</a> |
      <a class="navigation-link" href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a> |
      <a class="navigation-link" href="{{ url_for('create_project') }}">create project</a>
    {% else %}
      <a class="navigation-link" href="{{ url_for('.index') }}">public view</a> |
      <a class="navigation-link" href="{{ url_for('register') }}">sign up</a> |
      <a class="navigation-link" href="{{ url_for('login') }}">sign in</a> |
      <a class="navigation-link" href="{{ url_for('case_study') }}">case study</a>
    {% endif %}
  </div>
  <div class="body">
    {% block body %}
    {% endblock %}
  </div>
  <div class="footer">
    CloudAcct, Powered by Anyware.
  </div>
</div>
